/* Style the packages page */
body {
      background-image: url("../images/whitenature.jpg");
}
#search {
    margin-bottom: 20px;
  }
  
  #search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  #packages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .package-card {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .package-card h2 {
    margin-top: 0;
  }
  
  .package-card p {
    margin-bottom: 0;
  }
  
  /* Add more styles as needed */